.boton{
      text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
            text-align:center;
            text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
            color: #FFF;
            background: #7F8C8D;
            padding: 7px 15px;
            white-space: nowrap;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 100px;
            margin: 10px 5px;
            -webkit-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.ver{
  background: #2ECC71;
  box-shadow: 0px 5px 0px 0px #27AE60;
}
.ver:hover{
  background: #32db78;
}
.ver:active{
  box-shadow: 0px 2px 0px 0px #27AE60;
}
@font-face {
      font-family: letra;
      src: url(fn/FV_Almelo.ttf);
    }
.titulo
{
  color:black;background-color:rgb(0,196,156);
  font-family: letra;
  font-size: 19px;

}